extends layout

include mixins/_storeCard
include mixins/_pagination

block content
  .inner
    h2= title
    .stores
      each store in stores
        +storeCard(store)
      else
        p No stores yet :(
    +pagination(page, pages, count)